
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><br><strong>Everything you need for interactive presentations</strong><br><br></h2>
                    <p><br>Make your audience feel involved by enabling them to contribute to presentations with their smartphones and show the results live.<br><br></p>
                </div>
                <div class="block-content">
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/chart.jpg"></div>
                            <div class="col-lg-7">
                                <h3><br><strong>Interactive questions and slides</strong><br><br></h3>
                                <p><br>Add polls, word clouds, Q&amp;As, slides and more to your presentations and create an interactive experience for your audience. Your audience uses their smartphones to vote on questions and engage with the presentation.&nbsp;<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/presis.jpg"></div>
                            <div class="col-lg-7">
                                <h3><br><strong>Build beautiful presentations</strong><br><br></h3>
                                <p><br>&nbsp;Make your presentation feel personal, add your logo, or create your own themes that match your organizations branding.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/quiz.jpg"></div>
                            <div class="col-lg-7">
                                <h3><br><strong>Fun Quiz Competitions</strong><br><br></h3>
                                <p>You can test your audience’s knowledge, see if they have been paying attention or simply add some fun to your presentation!<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post"></div>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>