<br>
<br>
<br>




<div id="wrapper">
    <nav
    class="navbar navbar-dark text-nowrap text-truncate align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
   
  </nav>

    <div id="content">
      <div>
        <!-- <div class="d-sm-flex justify-content-between align-items-center mb-4">

        </div> -->

        <div >
          <div>
            <div class="card shadow mb-4" style="width: 1188px;
            margin-left: 115px; height: 520px">

              <div>
                <section>
                  <div *ngFor="let element of slide.elements" class="slideSection">
                    <div *ngIf="element.type == 'h2'"> 
                      <div class="question" style="margin-left: 100px;
                      margin-top: 35px;">
                         <h2 style="font-size:35px; color:black">{{ element.value }}</h2>
                      </div>
                     

                      <div *ngFor="let a of answers"  style="margin-left: 100px;
                      margin-top: 35px; border: 2px solid grey; border-radius: 5px; height:40px; width:200px; ">
                      
                      <div>
                         {{a}}
                      </div> 
                       
                      </div>
                      <br>
                    </div>
      
                    <div *ngIf="element.type == 'chart'">
                      <div>
                        <div class="row">
                          <div
                            *ngIf="barChartData.length > 0"
                            class="chart-wrapper"
                            style="position:absolute;width: 900px;height: 300px; margin-left: 200px;"
                          >
                            <canvas
                              baseChart
                              style="width: 550px;height: 300px;"
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [plugins]="barChartPlugins"
                              [legend]="barChartLegend"
                              [chartType]="barChartType"
                            >
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            
            </div>
          </div>
      </div>
    </div>
    <!-- <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Brand 2019</span></div>
      </div>
    </footer> -->
  
</div>