<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info"><br><strong>Make sure everyone gets heard</strong><br><br></h2>
                <p><br>It can be difficult to engage large audiences and make them feel like you’re really listening to them.<br><br></p>
            </div>
            <div class="row" style="margin-left:250px">
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/bus.jpg">
                        <div class="card-body">
                            <h4 class="card-title"><br><strong>Focus on your audience and stay in control of your presentation</strong><br><br></h4>
                            <p class="card-text"><br>Say goodbye to complicated presentation clickers and turn your smartphone into a presentation remote control!<br><br></p>
                        </div>
                        <div></div>
                    </div>
                </div>
               
                
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/aud.jpg">
                        <div class="card-body">
                            <h4 class="card-title"><br><strong>Audience Q&amp;A made easy</strong><br><br></h4>
                            <p class="card-text"><br>Your audience can ask questions to you with their smartphones which you can answer at any point during your presentation, or save for a specific Q&amp;A session or panel.<br><br></p>
                        </div>
                        <div></div>
                    </div>
                </div>

    
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>