<div class="d-sm-flex justify-content-between align-items-center mb-4">
  <br />
  <div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0"></h3>
    <button class="btn" id="preview" (click)="preview()">
      <i class="fa fa-eye"></i> Preview
    </button>
    <button class="btn">
      <i class="fa fa-folder"></i> Save
    </button>
    <button class="btn" (click)="share()" *ngIf="showSlide">
      <i class="fa fa-share"></i>&nbsp;Share</button
    >
  </div>
</div>

<div class="row">
  <div class="col-lg-7 col-xl-8">
    <div class="card shadow mb-4">
      <div
        *ngIf="showSlide && slide != null"
        class="card-body"
        id="container123"
        style="height: 426px;color: rgb(255,255,255);width: 639px;"
      >
        <div>
          <section>
            <div *ngFor="let element of slide.elements">
              <div *ngIf="element.type == 'h2'">
                <h2 style="font-size:35px; color:black">{{ element.value }}</h2>
              </div>

              <div *ngIf="element.type == 'chart'">
                <div>
                  <div class="row">
                    <div
                      *ngIf="barChartData.length > 0"
                      class="chart-wrapper"
                      style="position:absolute;width: 550px;height: 300px;"
                    >
                      <canvas
                        baseChart
                        style="width: 550px;height: 300px;"
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                      >
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-lg-5 col-xl-4"
    style="width: 99px;background-color: #eaebef;color: rgb(255,255,255);height: 428px;"
  >
    <a href="index.html"></a>
    <div id="minimal-tabs">
      <ul class="nav nav-tabs" style="color: rgb(255,255,255);">
        <li class="nav-item">
          <a
            class="nav-link"
            role="tab"
            data-toggle="tab"
            href="#tabs-1"
            style="color: rgb(24,135,213);"
            >Content</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            role="tab"
            data-toggle="tab"
            href="#tabs-2"
            style="color: rgb(19,141,228);"
            >Type</a
          >
        </li>
      </ul>

      <div id="tab-content" class="tab-content">
        <div class="tab-pane" role="tabpanel" id="tabs-1">
          <br />
          <div class="col-md-6 col-xl-3 mb-4">
            <div
              class="card shadow border-left-warning py-2"
              style="width:150px; height: 100px;"
            >
              <div class="card-body" id="addTitle" (click)="addText()">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-2">
                    <div
                      class="text-uppercase text-warning font-weight-bold text-xs mb-1"
                    >
                      <span>Add text</span>
                    </div>
                    <div class="text-dark font-weight-bold h5 mb-0">
                      <span></span>
                    </div>
                  </div>

                  <!-- <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div> -->
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="col-md-6 col-xl-3 mb-4">
            <div
              class="card shadow border-left-primary py-2"
              style="width:150px; height: 100px;"
            >
              <div class="card-body" id="addGraph" (click)="addGraph()">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-2">
                    <div
                      class="text-uppercase text-primary font-weight-bold text-xs mb-1"
                    >
                      <br /><span>ADD CHART</span>
                    </div>
                    <div class="text-dark font-weight-bold h5 mb-0">
                      <span></span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tabs-2">
          <br />

          <div class="input-group" id="tab2">
            <br />

            <div *ngIf="addQuestion">
              <input
                type="text"
                (keyup)="onQuestionChange($event)"
                [(ngModel)]="question"
                placeholder="Question"
              />
            </div>

            <div *ngIf="addChart">
              <input
                type="text"
                class="form-control"
                (keyup)="onTitleChange($event, title)"
                [(ngModel)]="title"
                placeholder="Question"
              />
              <br />
              <div *ngFor="let option of options; let in = index">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="options[in].value"
                    name="name{{ in }}"
                    (keyup)="onOptionChange($event, options[in].value, in)"
                    #name="ngModel"
                    required
                  />
                </div>
                <br />
              </div>
              <button class="btn-primary" (click)="add()">Add option</button>
            </div>
          </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-3"></div>
      </div>
    </div>
  </div>
</div>
