
<main class="page">
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Features</h2>
                <p>Present and envolve your audience</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                    <h4 style="margin-left: 45px">Simple polls</h4>
                    <p>Get answers from your audience</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                    <h4 style="margin-left: 45px">Comapre data</h4>
                    <p>Using answers from public compare data with expected informations</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                    <h4 style="margin-left: 45px">Mobile links</h4>
                        <p>Public can vote using mobile app with specified link</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                    <h4 style="margin-left: 45px">Browser links</h4>
                    <p>Public can vote using PC app with specified link</p>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
