
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><br><strong>Make your private events interactive</strong><br><br></h2>
                    <p><br>Make memories, create fun and build excitement.<br><br></p>
                </div>
                <div class="block-content">
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/dinner.jpg"></div>
                            <div class="col-lg-7">
                                <h3><br><strong>Host events with a twist</strong><br><br></h3>
                                <p><br> Use MyPoll to display opinions from a wine tasting event, add even more fun to a wedding with a quiz, or create a space where everyone’s voice is heard at community events.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/presis.jpg"></div>
                            <div class="col-lg-7">
                                <h3><br><strong>Quiz Competition templates</strong><br><br></h3>
                                <p><br>&nbsp;Quiz Competitions are a great way to test knowledge and add some friendly competition to your private events. <br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/template.jpg"></div>
                            <div class="col-lg-7">
                                <h3><br><strong>Templates for private events</strong><br><br></h3>
                                <p>Whatever your next event is, we have a template for it! We have templates for birthdays, weddings, wine tasting and much more. <br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post"></div>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>