<div class="row">
                                              
    <div  *ngIf="barChartLabels.length > 0" class="chart-wrapper" style="position:absolute; margin-left: -10px; width: 138px;height: 109px;">

        <canvas baseChart style=" margin-left: -7px; width: 138px;height: 109px;"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
</div>
