<main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">TERMS AND CONDITIONS</h2>
                    <p></p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">INTRODUCTION AND DEFINITIONS</h4>
                        <div class="answer">
                            <p>We explain what undertakings you as a customer are obliged to take, like have access to internet connection, to not to decompile or in other ways harm MyPoll and keep login information secure.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">UNDERTAKINGS OF THE CUSTOMER</h4>
                        <div class="answer">
                            <p>Manage questions from large audiences with this easy function that the audience can use from their smartphone</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">PAYMENT AND REFUNDS</h4>
                        <div class="answer">
                            <p>Payment is carried out pre-paid and for the entire period at once (no partial payment available). We offer a generous 14-days money-back guarantee.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>