<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info"><br><strong>Education in new way</strong><br><br></h2>
                <p><br>Test your students’ knowledge, gather feedback and ask them to reflect with our live polling features.<br><br></p>
            </div>
            <div class="row" style="margin-left:250px">
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/kids.jpg">
                        <div class="card-body">
                            <h4 class="card-title"><br><strong>Test knowledge in new ways</strong><br><br></h4>
                            <p class="card-text"><br>Create your own quiz or use one of our templates to add energy in the classroom whilst keeping the focus on learning. With colourful animations and a suspense-building leaderboard!<br><br></p>
                        </div>
                        <div></div>
                    </div>
                </div>
               
                
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/inter.jpg">
                        <div class="card-body">
                            <h4 class="card-title"><br><strong>Fun, engaging and interactive learning</strong><br><br></h4>
                            <p class="card-text"><br>Your audience can ask questions to you with their smartphones which you can answer at any point during your presentation, or save for a specific Q&amp;A session or panel.<br><br></p>
                        </div>
                        <div></div>
                    </div>
                </div>

    
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>