
<div id="wrapper">
    <nav
    class="navbar navbar-dark text-nowrap text-truncate align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
     
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
        <div class="sidebar-brand-text mx-3"><span>SLIDES</span></div>
      </a>
      <!-- <div (mouseover)="slideHover=true" (mouseout)="slideHover=false" class="card shadow border-left-primary py-2" style="width: 138px;height: 96px;margin: 4px;padding: 60px;">
            <div class="card-header" style="width: 67px;">
           
                    <div class="row"><a class ='btn' ><i (click)="edit()" class="fa fa-pencil"></i></a></div>
                    <div class="row"><a class ='btn' ><i (click)="delete()" class="fa fa-trash-o"></i></a></div>
                 

                <div class="clearfix"></div>
            </div>
        </div> -->

        <div (mouseenter)="slideHover=true" (mouseleave)="slideHover=false"  class="card shadow border-left-primary py-2" style="width: 138px;height: 96px;margin: 4px;padding: 60px;">
                <div *ngIf="slideHover" class="card-header" style="margin-left: 23px; width: 50px;height: 62px; margin-right: 44px;">
                        <button class ="btn" style=" width: 33px;height: 28px; margin-top: -28px; margin-left: -11px;" (click)="edit()"><i class="fa fa-pencil"></i></button>
                        <br>
                        <button class ="btn" style=" width: 33px;height: 28px; margin-top:-18px; margin-left: -11px;" (click)="delete()"><i class="fa fa-trash-o"></i></button>
                    <!-- <button class="btn btn-primary" type="button" style="width: 27px;height: 28px;">Button</button>
                    <button class="btn btn-primary" type="button" style="width: 27px;height: 28px;">Button</button> -->
                </div>
            </div>

      <!-- <div id="slidesWell" style="height: 100px; width:150px; background-color: white; border: 2px solid grey;
      border-radius: 5px;" (click)="panelClick($event)">
     
    
 </div> -->
      <div id="operations" style="margin-top: 225px" >
        <button class="btn btn-default" id="addSlide" type="button" style="background-color: white" (click)="createSlide()">Add
          Slide</button>
      </div>

    </div>
  </nav> 
 
