<main class="page testimonials">
    <section class="clean-block clean-testimonials dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info"><br><strong>Careers</strong><br><br></h2>
                <p><br>We hire smart, ambitious and humble people.<br><br></p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card clean-testimonial-item border-0 rounded-0">
                        <div class="card-body">
                            <p class="card-text">You should be curious about how to build large-scale, business-critical systems with modern technologies and your responsibilities will include to research, design and implement services that can scale in an efficient and
                                reliable manner.<br></p>
                            <h3>John Smith</h3>
                            <h4 class="card-title">Integration Engineer</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card clean-testimonial-item border-0 rounded-0">
                        <div class="card-body">
                            <p class="card-text">Our unique selling point is all about ease-of-use and we want to strengthen our team with a UI developer to help us be even better. You will join a great and fast moving team, a company in hyper growth with a progressive
                                and inclusive culture.<br></p>
                            <h3>Jane Smith</h3>
                            <h4 class="card-title">UI Developer</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card clean-testimonial-item border-0 rounded-0">
                        <div class="card-body">
                            <p class="card-text">This is a role for someone who cares about the developer experience and the process of getting code into the production environment. As a Front-End Operations Engineer, you will oversee the deployment process.<br></p>
                            <h3>Anna Hudson</h3>
                            <h4 class="card-title">Front-end&nbsp;Engineer<br></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>