<main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url(&quot;assets/img/scenery/image3.jpg&quot;);"></div><div class="post-body">
    <h3>The habits of highly productive people</h3>
    <div class="post-info"><span>By John Smith</span><span>Jan 27, 2018</span></div>
    <p>We’ve all known that person who always seems to be getting things done.
        Whether a friend or a colleague, this is the person whose work is always done early. The one who somehow manages to finish hour-long tasks in 20 minutes.</p>
    <figure class="figure"><img class="rounded img-fluid figure-img" src="assets/img/scenery/image6.jpg" alt="A generic square placeholder image with rounded corners in a figure." />
        <figcaption class="figure-caption">Lorem ipsum dolor</figcaption>
    </figure>
    <h4>Boring work that needs just to get done</h4>
    <p>It’s tempting to look at highly productive people as machines (or wizards). But by studying how they work efficiently and overcome the challenges we all experience, it’s possible to boost your own productivity as well..</p>
    <div class="row">
        <div class="col-md-6">
            <figure class="figure"><img class="rounded img-fluid figure-img" src="assets/img/scenery/image4.jpg" alt="A generic square placeholder image with rounded corners in a figure." />
                <figcaption class="figure-caption">Responding to email and other messages while working</figcaption>
            </figure>
        </div>
        <div class="col">
            <p>As much as I would like to claim the status of “highly productive person,” the best I can do is say—I’m working on it. But from reading articles, checking out books, and asking questions of productive people, I’ve pulled together the best advice I could find on their productivity habits.</p>
        </div>
    </div>
    <h4>Focusing and finishing the most important projects on their plates</h4>
    <p>What follows are 18 of the most important habits of highly productive people. From ways to spend less time on emails to methods of staying focused, these productivity tips can help you maximize your efficiency—and get more done.</p>
    <div class="row">
        <div class="col">
            <p>The theory behind Most Important Tasks is that any given to-do list has some tasks that are more important than others. If you focus on simply checking off to-do list items, you’ll end up with a mix of important and less important tasks completed.</p>
        </div>
        <div class="col-md-6">
            <figure class="figure"><img class="rounded img-fluid figure-img" src="assets/img/scenery/image5.jpg" alt="A generic square placeholder image with rounded corners in a figure." />
                <figcaption class="figure-caption">Focus on most important tasks (MITs) first</figcaption>
            </figure>
        </div>
    </div>
</div></div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
