<main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Data Processing Agreement and Privacy Policy</h2>
                    <p></p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">1. Introduction</h4>
                        <div class="answer">
                            <p>This Data Processing Agreement and Privacy policy is aimed to define how and why MyPoll collects and handles Personal Data. Its goal is to let Users use the Application to its full capability and in the same time protect and limit the use of Personal Data. This Data Processing Agreement and Privacy policy is aimed to be written in a concise, transparent, intelligible and easily accessible form, using clear and plain language. MyPollstores Personal Data to provide the Services in a reliable and safe way and in accordance with Controller's lawful instructions. </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">1.1. SCOPE</h4>
                        <div class="answer">
                            <p>This Data Processing Agreement and Privacy policy is part of the Terms and Conditions applied to all Users of MyPoll (the "Terms").</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">1.2. DEFINITIONS</h4>
                        <div class="answer">
                            <p>The following definitions in this Data Processing Agreement and Privacy policy shall have the meaning as set forth in this provision:

                                    "Application" – the web-based audience response system developed and provided by MyPoll in which the Presenter creates online Surveys with questions that the Audience responds to via their computers or mobile devices. The result is shown in real time.
                                    
                                    "Audience" - the person(s) for which the Survey is created and who is (are) the respondent(s) of the Survey. For clarification, when a person in the Audience has entered his/hers email address to receive the results from the Survey, such person is defined as a Presenter under these Terms
                                    
                                    "Basic version" - the basic version of the Application.
                                    
                                    "Controller" - the entity which, alone or jointly with others, determines the purposes and means of the processing of Personal Data
                                    
                                    "Credit card information" - complete data set related to a customer credit card
                                    
                                    "Custom version" - the customized version of the Application.
                                    
                                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>