<br>
<br>
<br>
<br>
<form id="form">
    <div class="form-group">
        <div id="form-group"></div>
        
        <!-- <label class="container">One
            <input type="radio" id="radio1" name="radioGroup" value="1"> 1<br>
            <span class="checkmark"></span>
        </label>
        <label class="container">Two
            <input type="radio" id="radio1" name="radioGroup" value="2"> 2<br>
            <span class="checkmark"></span>
        </label> -->

        <br>
        <br>
        <button (click)="sendMessage()">Send Message</button>
        <!-- <input  id="message"  class="message_input"  placeholder="Type your message here..."  /> -->
        <!-- <input type="radio" id="radio1" name="radioGroup" value="1"> 1<br>
        <input type="radio" id="radio2" name="radioGroup" value="2"> 2<br> -->
    </div>
    <!-- <button  class="send_message" (click)="submit()">Send</button> -->
    <!-- <button  class="send_message" (click)="submit($event)">Send</button> -->
</form>