<main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Blog Posts</h2>
                </div>
                <div class="block-content">
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/umor.jpg"></div>
                            <div class="col-lg-7">
                                <h3>What to avoid when making presentations</h3>
                                <div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
                                <p>5 tips to avoid mistakes in creating and presenting your presentation</p><a class="btn btn-outline-primary btn-sm" role="button" routerLink="/blog-post"
                                    routerLinkActive="active">Read More</a></div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/image4.jpg"></div>
                            <div class="col-lg-7">
                                <h3>Make it interesting</h3>
                                <div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
                                <p>10 tips how to animate your public when presenting</p><a class="btn btn-outline-primary btn-sm" role="button" routerLink="/blog-post"
                                    routerLinkActive="active">Read More</a></div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/work.jpg"></div>
                            <div class="col-lg-7">
                                <h3>How to colaborate with more success</h3>
                                <div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
                                <p>20 tips how to colaborate in a more successful way</p><a class="btn btn-outline-primary btn-sm" role="button" routerLink="/blog-post"
                                    routerLinkActive="active">Read More</a></div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
